#-----------------------Backend Config------------------------------#
# Prisma Config
DATABASE_URL=your-url

# Sensitive Data Encryption Key while storing in Database (32 character)
DATA_ENCRYPTION_KEY=your-key

WHITELISTED_ORIGINS=https://origin.com,https://origin1.com,http://origin.com,http://origin1.com:3000

PROXY_APP_URL="https://proxy.origin.com"
PROXYSCOTCH_ALLOWED_ORIGINS=https://proxy.origin.com

# If true, the client’s IP address is understood as the left-most entry in the X-Forwarded-For header
TRUST_PROXY=true

#-----------------------Frontend Config------------------------------#

# Base URLs
VITE_BASE_URL=https://origin.com
VITE_SHORTCODE_BASE_URL=https://origin.com
VITE_ADMIN_URL=https://origin.com

# Backend URLs
VITE_BACKEND_GQL_URL=https://origin.com/graphql
VITE_BACKEND_WS_URL=wss://origin.com/graphql
VITE_BACKEND_API_URL=https://origin.com/v1

VITE_ALLOWED_AUTH_PROVIDERS=GOOGLE
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=https://origin.com/v1/auth/google/callback

# Terms Of Service And Privacy Policy Links (Optional)
VITE_APP_TOS_LINK=https://docs.hoppscotch.io/support/terms
VITE_APP_PRIVACY_POLICY_LINK=https://docs.hoppscotch.io/support/privacy

# Set default to null as https://proxy.hoppscotch.io/ doesn't require an access token
VITE_PROXYSCOTCH_ACCESS_TOKEN=

# Set to `true` for subpath based access
ENABLE_SUBPATH_BASED_ACCESS=false
